absl-py
black==22.10.0
bottleneck
cartopy
cdo
codetiming
dask
filelock
flake8==6.0.0
iris
knockknock
metpy
ml-collections
mlflow
netcdf4
ninja
pint
pip
pre-commit
pytest
shortuuid
tensorboard
torch==1.13.1+cu116
torchvision==0.14.1+cu116
torchaudio==0.13.1
typer
wandb
xarray

--extra-index-url https://download.pytorch.org/whl/cu116
